* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    ;
}

/* HEADER */

.header, .footer {
    background-color: #1f2937;
    width: 100%vw;
}

.header {
    padding: 0 100px 24px 100px;
}

.header-top-line {
    margin: 0 48px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
}

.hero-logo {
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    align-items: baseline;
    padding: 0px;
    margin: 20px 60px 0 0;
    display: flex;
}

a {
    text-decoration: none;
    margin: 12px;
    font-size: 18px;
    color: #f9faf8;
}

.header-second-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    margin: 0 24px 60px 24px;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

.hero-secondary-text {
    margin: 0;
    width: 425px;
    color: #f9faf8;
}

img {
    border: 2px solid white;
    width: 600px;
    height: 200px;
}

.btn {
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    font-size: 100; 
    font-weight: 600;
    margin: 12px 0;
}

/* MAIN SECTION 1 */

.main1 {
    padding: 50px;
}

.main-headline {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.box {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.image-box {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    border: 3px solid #3882f6;
    border-radius: 8px;
    width: 150px;
    height: 150px;
}

.text {
    margin: 5px 0 0 0;
    text-align: center;
    width: 150px;
}

/* MAIN SECTION 2 */

.main2 {
    background-color: #e5e7eb;
    padding: 100px;
}

.quote {
    text-align: justify;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    margin: 0 280px;  
}

.quoter {
    text-align: right;
    margin: 0 280px 0 0;
    font-size: 24px;
}

/* MAIN SECTION 3 */

.main3 {
    padding: 100px;
}

.action {
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 1000px;
    height: 50px;
    padding: 50px;
    margin: 60px;
    gap: 180px;
}

.call {
    color: #f9faf8;
    font-size: 24px;
}

.signup {
    color: #e5e7eb;
    font-size: 18px;
}

.signup-btn {
    background-color: #3882f6;
    border: 1px solid #f9faf8;
    color: #f9faf8;
    font-weight: 900;
    cursor: pointer;
    padding: 6px 25px;
    border-radius: 8px;
    width: 150px;
    height: 40px;
}

/* FOOTER */

.footer {
    padding: 25px;
    text-align: center;
    color: white;
}

